<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>d3ph.com</title>
    <link
      rel="icon"
      type="image/x-icon"
      href="public/images/d3phcomFavicon.png"
    />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3"
      crossorigin="anonymous"
    />
    <link
      href="https://fonts.googleapis.com/css?family=Nunito"
      rel="stylesheet"
    />
    <script src="gauge.min.js"></script>
  </head>
  <body>
    {{{body}}}

    <script>
    	var myGauge = Gauge(document.getElementById("gauge-demo"), {
    		dialRadius: 40,
    		dialStartAngle: 135,
    		dialEndAngle: 45,
    		value: 45,
    		max: 100,
    		min: 0,
    		valueDialClass: "value",
    		valueClass: "value-text",
    		dialClass: "dial",
    		gaugeClass: "gauge",
    		showValue: true,
    		gaugeColor: null,
    		label: function(val) {
    			return Math.round(val);
    		} // returns a string label that will be rendered in the center
    	});
    </script>
  </body>
</html>
